html{
	margin: 0;
	padding: 0;
}
.main-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	font-family: 'Cormorant Garamond', serif;
}
/*top Banner***********************************************************/
.container-banner {
	display: flex;
	align-items: center;
	padding: 0;
	margin:-10px;
	flex-direction: column;
	width: 100vw;
	height: 150px;
	background: rgba(243,243,243,.9);
}
h1{
	font-family: 'Cormorant Garamond', serif;
	font-size: 2em;
	padding: 5px 20px;
}
.letter {
	font-size: 1.5em;
}

/*Search Area*****************************************************/
.search-area{
	display: flex;
	flex-direction: row;
	width: 80vw;
	height: 50px;
	padding: 20px;
	background: white;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	top: 10px;
	margin: 10px;
	border-radius: 15px;
	box-shadow: 0px -2px 0px 0px rgba(223,223,223,.9), 2px 8px 25px -10px rgba(0,0,0,0.75);
}
.search-form {
	display: flex;
	flex-direction: row;
}
input {
  width: 200px;
  height: 30px;
  font-size: .8em;
  text-align: center;
  border-radius: 0.35rem;
  border: 3px inset rgba(46,61,73,0.35);
  margin: 0 100px;
}
input:focus {
  outline: none; 
  box-shadow: 0px 28px 6px -20px rgba(0,0,0,.15);
  transition: all 0.18s ease;
  color: rgba(46,61,73,0.75);
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}
/*Button styling***********/
button {
  width: 200px;
  outline: none; 
  height: 40px;
  border-radius: 50px;
  background-color: rgba(2,179,228,0.75);
  border: 0.12rem solid transparent;
  color: white;
  box-shadow: 8px 10px 15px 0px rgba(46,61,73,0.25);
  border-radius: 0.35rem;
  font-size: .85em;
  text-align: center;
}
button:hover {
  box-shadow: 2px 3px 15px 0px rgba(46,61,73,0.45);
  transition: all 0.4s ease;
  background-color: rgba(2,179,228,1);
   cursor:pointer;
}
/*Result area styling*************************************/

/*ul styling*/
li {
  text-align: center;
  margin:0.2em 0;
  padding:0.5em 0.8em;
  list-style:none;
  font-weight: 700;
  background-color:rgba(243,243,243,.9);
  border-left:5px double rgba(2,179,228,0.75);
  border-right:5px double rgba(2,179,228,0.75);
  color:#333;
  position:relative;
}

/*hide class from js - to hide btn - catalogo completo*************/
.hide {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}

/* AÑADIR MEDIA QUERY para colocar los botones en .search-area {flex-direction: column;}*/
/* +++++++++++++++++ media queries +++++++++++++++++ */
@media screen and (max-width: 1000px) {
  .search-area {
    padding: 10px;
  }
  input{
    width: 150px;
    border: 2px inset rgba(46,61,73,0.35);
    margin: 2px;
    height: 25px;
  }
  button {
    width: 150px; 
    height: 30px;
    font-size: .65em;
    margin: 5px;
  }
  .search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
}
/*WIP still needs more breaking points
 and a lot os fixing mainly search area*/